service: pizzabase

frameworkVersion: "3"

plugins:
  - serverless-domain-manager

provider:
  name: aws
  runtime: nodejs20.x
  timeout: 30
  region: us-west-2
  environment:
    NODE_ENV: production

    DB_NAME: ${env:DB_NAME }
    AURORA_RESOURCE_ARN: ${env:AURORA_RESOURCE_ARN}
    AURORA_SECRET_ARN: ${env:AURORA_SECRET_ARN}

    ZAP_NEW_REPORT: ${env:ZAP_NEW_REPORT}
    ZAP_NEW_LOCATION: ${env:ZAP_NEW_LOCATION}
    ZAP_NEW_ORDER: ${env:ZAP_NEW_ORDER}
    ZAP_NEW_TRUCK: ${env:ZAP_NEW_TRUCK}
    ZAP_NEW_UPLOAD: ${env:ZAP_NEW_UPLOAD}
    ZAP_SKIP_REPORT: ${env:ZAP_SKIP_REPORT}
    ZAP_ORDER_REPORT: ${env:ZAP_ORDER_REPORT}
    ZAP_CANCEL_ORDER_REPORT: ${env:ZAP_CANCEL_ORDER_REPORT}
    ZAP_TRUCK_REPORT: ${env:ZAP_TRUCK_REPORT}

    GOOGLE_MAPS_KEY: ${env:GOOGLE_MAPS_KEY}
    BUGSNAG_KEY: ${env:BUGSNAG_KEY}
    MAILGUN_API_KEY: ${env:MAILGUN_API_KEY}
    JWT_SECRET: ${env:JWT_SECRET}

    ALLOWED_ORIGINS: ${env:ALLOWED_ORIGINS}
    STATIC_SITE: ${env:STATIC_SITE}
    UPLOAD_S3_BUCKET: reports.polls.pizza

    STRIPE_SECRET_KEY: ${env:STRIPE_SECRET_KEY}
    STRIPE_SECRET_WH: ${env:STRIPE_SECRET_WH}
    STRIPE_PRODUCT_ID: ${env:STRIPE_PRODUCT_ID}

  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "secretsmanager:GetSecretValue"
        - "secretsmanager:PutResourcePolicy"
        - "secretsmanager:PutSecretValue"
        - "secretsmanager:DeleteSecret"
        - "secretsmanager:DescribeSecret"
        - "secretsmanager:TagResource"
      Resource:
        - "arn:aws:secretsmanager:*:*:secret:PizzaBase*"
    - Effect: "Allow"
      Action:
        - "secretsmanager:CreateSecret"
        - "secretsmanager:ListSecrets"
        - "secretsmanager:GetRandomPassword"
        - "tag:GetResources"
        - "rds-data:BatchExecuteStatement"
        - "rds-data:BeginTransaction"
        - "rds-data:CommitTransaction"
        - "rds-data:ExecuteStatement"
        - "rds-data:RollbackTransaction"
      Resource:
        - "*"
    - Effect: "Allow"
      Action:
        - "s3:*"
      Resource:
        - "arn:aws:s3:::*"

functions:
  app:
    handler: src/lambda.handler
    events:
      - http: ANY /
      - http: "ANY {proxy+}"

custom:
  customDomain:
    domainName: base.polls.pizza
    basePath: ""
    stage: prod
    createRoute53Record: true
